@model RpgChestMVC.Application.ViewModels.Item.NewSingleFullArmorWm

@{
    ViewData["Title"] = "AddNewFullArmor";
}

<h1>AddNewFullArmor</h1>

<h4>NewSingleFullArmorWm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewFullArmor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group">
                <label asp-for="Kp" class="control-label"></label>
                <input asp-for="Kp" class="form-control" />
                <span asp-validation-for="Kp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hp" class="control-label"></label>
                <input asp-for="Hp" class="form-control" />
                <span asp-validation-for="Hp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResistanceForAll" class="control-label"></label>
                <input asp-for="ResistanceForAll" class="form-control" />
                <span asp-validation-for="ResistanceForAll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhysicalAbsorption" class="control-label"></label>
                <input asp-for="PhysicalAbsorption" class="form-control" />
                <span asp-validation-for="PhysicalAbsorption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MagicalAbsorption" class="control-label"></label>
                <input asp-for="MagicalAbsorption" class="form-control" />
                <span asp-validation-for="MagicalAbsorption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhysicalReduction" class="control-label"></label>
                <input asp-for="PhysicalReduction" class="form-control" />
                <span asp-validation-for="PhysicalReduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MagicalReduction" class="control-label"></label>
                <input asp-for="MagicalReduction" class="form-control" />
                <span asp-validation-for="MagicalReduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HpPerLvl" class="control-label"></label>
                <input asp-for="HpPerLvl" class="form-control" />
                <span asp-validation-for="HpPerLvl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyRegenerationFor4Turns" class="control-label"></label>
                <input asp-for="DailyRegenerationFor4Turns" class="form-control" />
                <span asp-validation-for="DailyRegenerationFor4Turns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemLvl" class="control-label"></label>
                <input asp-for="ItemLvl" class="form-control" />
                <span asp-validation-for="ItemLvl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concentration" class="control-label"></label>
                <input asp-for="Concentration" class="form-control" />
                <span asp-validation-for="Concentration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSockets" class="control-label"></label>
                <input asp-for="NumberOfSockets" class="form-control" />
                <span asp-validation-for="NumberOfSockets" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Rarity" class="control-label"></label>
                <input asp-for="Rarity" class="form-control" />
                <span asp-validation-for="Rarity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerBackpack" class="control-label"></label>
                <input asp-for="PlayerBackpack" class="form-control" />
                <span asp-validation-for="PlayerBackpack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfArmor" class="control-label"></label>
                <input asp-for="TypeOfArmor" class="form-control" />
                <span asp-validation-for="TypeOfArmor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
